/* Carousel Hero */
.jumbotron {
    padding-top: 5rem;
    background-image: url(../assets/img/Banner.jpg);
    background-size: cover;
    height: 700px;
}

/* Media Mobile */
@media (max-width: 575.98px) { 
.jumbotron {
    background-image: url(../assets/img/Banner-mobile.jpg);
    background-size: cover;
    height: 390px;
 }
}