/* Gallery */
.gallery h2 {
    color: #C07F00;
    font-size: 2rem;
    font-weight: 500;
    font-family: 'cinzel', serif;
  }

  .gallery p {
    color: #C07F00;
    font-size: 1rem;
    font-weight: 500;
    font-family: 'cinzel', serif;
  }