/* Navbar */
.navbar {
    background-color: #6c5b398b;
    backdrop-filter: blur(7px);
    font-family: 'cinzel', serif;
    
}

.navbar a {
    color: #fff;
    font-family: 'cinzel', serif;
}

.navbar a:hover {
    color: #ffe7b8;
}

.navbar .navbar-nav .nav-link.active {
    font-weight: 700;
    color: #ffe2a9;
}

.navbar-brand img {
    width: 150px;
}

/* media quaries mobile */
@media (max-width: 575.98px) { 
    .navbar {
        margin: 1rem;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
 }